.footer-background {
    max-width: 1920px;
    align-items: center;
    background-color: #024170;
    display: flex;
    width: 100%;
    padding: 40px 360px;
    flex-direction: column;
    justify-content: start;
}

.footer-horizontal-border {
    max-width: 1200px;
    align-items: start;
    border-bottom: 2px solid #4d6d84;
    display: flex;
    width: 100%;
    padding: 10px 10px 12px;
    gap: 20px;
    justify-content: start;
    flex-wrap: wrap;
}

.footer-section {
    display: flex;
    min-width: 240px;
    padding: 0 10px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.logo-container {
    width: 100%;
    padding: 10px 0;
    flex: 1;
}

.logo-wrapper {
    display: flex;
    width: 200px;
    max-width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.logo-link {
    display: flex;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}

.logo-image {
    aspect-ratio: 3.13;
    object-fit: contain;
    object-position: center;
    width: 200px;
    align-self: stretch;
    margin: auto;
    max-width: 200px;
}

.contact-info {
    display: flex;
    margin-top: 20px;
    width: 100%;
    max-width: 260px;
    flex-direction: column;
    align-items: stretch;
    font-family:
        Arial,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    color: #ffffff;
    justify-content: center;
}

.company-description {
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
}

.spacer {
    min-height: 27px;
    width: 100%;
}

.support-info {
    display: flex;
    width: 100%;
    align-items: start;
    font-size: 16px;
    line-height: 2;
    justify-content: start;
}

.support-label {
    font-weight: 400;
}

.support-phone {
    font-weight: 700;
}

.section-content {
    width: 100%;
    padding: 10px 0;
    flex: 1;
}

.section-heading {
    text-decoration: underline;
    width: 100%;
    padding-bottom: 1px;
    font-family:
        Roboto,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 21px;
}

.footer-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family:
        Roboto,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #ffffff;
    font-weight: 700;
}

.footer-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.footer-item a {
    color: #ffffff;
    text-decoration: none;
}

.app-description {
    width: 100%;
    font-family:
        Arial,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 10px;
}

.store-link {
    display: flex;
    width: 150px;
    max-width: 100%;
    align-items: center;
    justify-content: start;
    padding: 15px 0;
}

.store-image {
    aspect-ratio: 3;
    object-fit: contain;
    object-position: center;
    width: 150px;
    border-radius: 5px;
    align-self: stretch;
    margin: auto;
    max-width: 150px;
}

@media (max-width: 991px) {
    .footer-background {
        max-width: 100%;
        padding: 40px 20px;
    }

    .footer-horizontal-border {
        max-width: 100%;
    }

    .section-heading {
        white-space: initial;
    }
}

.footer-background {
    justify-content: center;
    align-items: center;
    background-color: #024170;
    display: flex;
    width: 100%;
    padding: 0 390px;
    flex-direction: column;
    font-weight: 400;
    max-width: 1920px;
}

.footer-container {
    display: flex;
    max-width: 100%;
    width: 1140px;
    padding: 10px 0;
    align-items: stretch;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    height: 100%;
}

.footer-content {
    display: flex;
    min-width: 240px;
    padding: 0 10px;
    flex-direction: column;
    align-items: stretch;
    font-size: 16px;
    color: #ffffff;
    line-height: 2;
    justify-content: center;
    flex: 1;
    flex-basis: 0%;
}

.legal-section {
    width: 100%;
    padding: 10px 0;
    flex: 1;
}

.copyright-wrapper {
    display: flex;
    width: 100%;
    max-width: 550px;
    flex-direction: column;
    align-items: stretch;
    font-family:
        Arial,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    justify-content: center;
}

.copyright-text {
    width: 100%;
    margin: 0;
}

.legal-links {
    display: flex;
    width: 100%;
    max-width: 550px;
    flex-direction: column;
    align-items: stretch;
    font-family:
        Roboto,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    justify-content: center;
}

.links-list {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-item {
    white-space: nowrap;
}

.link-item a {
    color: #ffffff;
    text-decoration: none;
}

.separator {
    white-space: nowrap;
    color: #ffffff;
    padding: 0 5px;
}

.social-section {
    display: flex;
    min-width: 240px;
    padding: 0 10px;
    flex-direction: column;
    align-items: stretch;
    font-family:
        "Font Awesome 5 Brands",
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    font-size: 18px;
    color: #024170;
    text-align: center;
    line-height: 1;
    justify-content: center;
    flex: 1;
    flex-basis: 0%;
}

.social-container {
    display: flex;
    width: 100%;
    padding: 10px 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex: 1;
}

.social-icons {
    display: flex;
    padding-right: 17px;
    align-items: stretch;
    gap: 17px;
    justify-content: center;
}

.social-icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    width: 36px;
}

.social-link {
    text-decoration: none;
}

.social-icon {
    border-radius: 18px;
    background-color: #ffffff;
    border: 6px solid #024170;
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .footer-background {
        max-width: 100%;
        padding: 0 20px;
    }

    .footer-content {
        max-width: 100%;
    }

    .legal-section {
        max-width: 100%;
    }

    .copyright-wrapper {
        max-width: 100%;
    }

    .copyright-text {
        max-width: 100%;
    }

    .legal-links {
        max-width: 100%;
    }

    .links-list {
        max-width: 100%;
    }

    .link-item {
        white-space: initial;
    }

    .social-section {
        max-width: 100%;
    }

    .social-container {
        max-width: 100%;
    }

    .social-icons {
        max-width: 100%;
    }
}